include ./layout.jade
link(rel='stylesheet', href='/stylesheets/blog.css')
include ./include/header.jade
div.content
    article
        header
          h3 Title : #{Blogger.name}
          h3 Author : #{Blogger.name}
          h3 Time : #{Blogger.time}
          div(class = "edit-del")
            div.edit-btn
              a(style = "text-decoration:none", href = "/",class = "edit") Edit
            div.del-btn
              a(style = "text-decoration:none ", href = "/",class = "delete") Delete
        section
          p #{Blogger.body}
          
include ./include/footer.jade
