doctype html
html
  head
    title PenDown
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      // div.create #[a(style = "position: absolute; width:inherit; height:inherit" , href = "/") #[img(src='/images/logo.png' style='position:absolute; width:inherit; height:inherit')]]*/
      header


  block content
