doctype html
html
  head
    title  PenDown
    link(rel='icon', href='/images/logo.png', type='image/png', size='12*8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body

    <!--
    a(style = "text-decoration:none;", class = "prev-button", href = "/getBlog/?no=#{Blogger[].no - 1}") Prev Page
    a(style = "text-decoration:none ",class = "next-button" href = "/getBlog/?no=#{Blogger[].no + 1}") Next Page
    block content
  block foot(style = "margin-bottom: 80px")
    .bottom-nav(style= "padding: 10px")
      a(class = "prev-button", href = "/getBlog/?no=#{Blogger[].no - 1}") Prev Page
      a(class = "next-button" href = "/getBlog/?no=#{Blogger[].no + 1}") Next Page -->
